<%# shows the signup form for a new user. %>
<h3>This will show the Signup form.</h3>
<h2>Sign Up!</h2>

<form action="/signup" method="POST">
    <label>User Name:</label>
    <input type="text" name="username">
    <br>
    <label>Email:</label>
    <input type="text" name="email">
    <br>
    <label>Password:</label>
    <input type="password" name="password">
    <br>
    <input type="submit" value="Sing Up">
</form>
<br>
<form>
    <input type="button" value="Go back" onclick="history.back()">
</form>